body {
	margin: 0;
}

.row {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw;
  min-height: 200vmin;
}

.row [class*="meta"] {
  background: blue;
  color: white;
  width: 100%;
  background-size: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;

}

.row .meta-right {
  background-image: url("./assets/right-dream.jpg");
}

.row .meta-left {
  background-image: url("./assets/left-dream.jpg");
}

.row .logo-bg-top {
  background: red;
}
