body {
    background-image: url(./assets/backgrounds/parallax/parallax_black_space.png) !important;
}


#frame::after {
  background: transparent !important;
}

#frame::before {
  border-style: unset !important;
  border-image: none !important;
}

.row {
  background-color: transparent !important;
}

.row .meta-right {
  background-image: none !important;
}

.row .meta-left {
  background-color: transparent !important;
  background-image: none !important;
}

.dialogue-box {
  font-family: OMORI_GAME !important;
}
